:root {
    --vk-color-white:#ffffff;
    --vk-color-black:#000000;
    --vk-color-primary:#409eff;
    --vk-color-success:#67C23A;
    --vk-color-warning:#E6A23C;
    --vk-color-danger:#F56C6C;
    --vk-color-info:#909399;
}